@{
    ViewBag.Title = "Sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Alumno: Ana Kristell Armenta Sánchez
    Num. Ctrol: 17100186
    Instituto Tecnologico Nacional Mexicano, campus nuevo laredo
    Ingenieria en Sistemas Computacionales</p>
