@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Calle falsa #123<br />
    Nuevo Laredo, Tamaulipas<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="correo:Falso@example.com">Soporte@example.com</a><br />
    <strong>Ventas:</strong> <a href="correo:Falso2@example.com">Ventas@example.com</a>
</address>