@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1 class="text-primary">Proyecto - Programación Avanzada I</h1>
    <p class="lead ">Pequeño sistema que maneja un catálogo para el manejo del efectivo al realizar
     compras y ventas de algun artículo.</p>
    <p class="lead">Se usó Entity Framework, migraciones, bootstrap y más!!<p>
    
</div>

<div>
    <a href="@Url.Action("Index","CompraVentas")" class="btn btn-primary btn-lg btn-block">Ir a compra y ventas</a>
</div>